section {
    display: flex;
    flex-direction: column;
    gap: 24px
}

.social-links {
    display: flex;
    justify-content: space-around;
}

.icon-btn {
    width: 50px;
    height: 50px;

    color: var(--contrast-text);
    border: 2px solid var(--contrast-text);
    border-radius: 100%;
    background-color: transparent;
}

.contact-btn {
    padding: 12px 24px;
    border: none;
    border-radius: 24px;
    background: linear-gradient(45deg, var(--green-800), var(--green-500));

    color: var(--contrast-text);
    font-weight: 800;
    text-transform: uppercase;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}