<section id="contacts">
    <div class="social-links">
        <button class="icon-btn">
            <span class="btn-text">/in/felipejonathan</span>
            <icon-linkedin></icon-linkedin>  
        </button>
        <button class="icon-btn">
            <span class="btn-text">/FelipeJBarros</span>
            <icon-github></icon-github>               
        </button>
        <button class="icon-btn">
            <span class="btn-text">&#64;belipefarros</span>
            <icon-instagram></icon-instagram>               
        </button>
    </div>
    <button class="contact-btn">
        <span class="btn-text">Entre em contato</span>
        <icon-mail></icon-mail>
    </button>
</section>
