header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.introduction {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 24px
}

.introduction img {
    width: 100%;
    height: auto;

    max-width: 280px;
    max-height: 283px;

    border-radius: 24px;
}

.greatings h1 {
    font-size: 1.62rem;
    font-weight: 900;
}

.greatings h2 {
    font-size: 1.1rem;
    font-weight: 300;
    font-style: italic;
}

.greatings h2 span {
    font-weight: 900;
    background: -webkit-linear-gradient(var(--green-800), var(--green-200));
    background-clip: content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (min-width: 370px) and (max-width: 378px) {
    .greatings h1 {
        font-size: 1.9rem;
    }
    
    .greatings h2 {
        font-size: 1.3rem;
    }
}

@media (min-width: 379px) and (max-width: 710px) {
    .greatings h1 {
        font-size: 1.9rem;
    }
    
    .greatings h2 {
        font-size: 1.3rem;
    }
}

@media (min-width: 711px) {
    .greatings h1 {
        font-size: 2rem;
    }
    
    .greatings h2 {
        font-size: 1.5rem;
    }
}

@media (min-width: 321px) and (max-width: 625px) {
    .introduction img {
        align-self: center;
    }
}

@media (min-width: 625px) {
    .introduction {
        flex-direction: row-reverse;
        justify-content: flex-end;
        align-items: center;
        gap: 48px;
    }

    .introduction img {
        border: 2px solid var(--contrast-text);
        border-radius: 100%;
    }
}