<section class="resume">
    <h3>Sobre mim</h3>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae quisquam voluptas harum maxime alias est fugiat.</p>
    
    <h4>Linguagens</h4>
    <div class="skills">
        <icon-java></icon-java>
        <icon-javascript></icon-javascript>
        <icon-typescript></icon-typescript>
    </div>

    <h4>Frameworks e bibliotecas</h4>
    <div class="skills">
        <icon-angular></icon-angular>
        <icon-spring></icon-spring>
        <icon-react></icon-react>
    </div>
</section>