<section class="resume">
    <h3>Sobre mim</h3>
    <p>
        Sou um desenvolvedor fullstack, engenheiro de computação e solucionador de problemas.
        <br>Se quiser saber mais <a href="#">clique aqui.</a>
    </p>
    
    <h4>Linguagens</h4>
    <div class="skills">
        <icon-java></icon-java>
        <icon-javascript></icon-javascript>
        <icon-typescript></icon-typescript>
    </div>

    <h4>Frameworks e bibliotecas</h4>
    <div class="skills">
        <icon-angular></icon-angular>
        <icon-spring></icon-spring>
        <icon-react></icon-react>
    </div>
</section>